.header {
  display: flex;
  background-color: royalblue;
}

nav {
  background-color: royalblue;
  padding: 0px;
  color: white;
  display: flex;
  justify-content: space-around;
  justify-self: center;
  justify-items: center;

  li {
    display: flex;
    list-style-type: none;
    text-align: center;
    align-items: center;
  }

  a {
    color: white;
    text-decoration: none;
    &:hover{
      color: black;
      font-weight:  100;
    }
  }

  .ativo {
    display: none;
  }
}

.logo{
  width: 75px;
  height: 75px;
}
